{% extends 'base.html' %}
{% load static %}
{% block style %}
 <link rel="stylesheet" href="{% static 'css/style.css'%}">
{%endblock%}

{% block conteudo %}
 {% include 'parciais/_navbar.html' %}
<div class="container">



                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">

                                <div class="p-5">

                                  <form>

                                        <p class="fw-bold">SELECIONE O TIPO DE PESSOA:</p>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                            Pessoa Jurídica
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input " type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                            <label class="form-check-label" for="flexRadioDefault2">
                                            Pessoa Física
                                            </label>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-5">
                                                <label>Nome</label>
                                                <input class="form-control" name="{{usuario.first_name.name}}">
                                            </div>

                                             <div class="col-sm-2">
                                                <label>CPF</label>
                                                <input class="form-control" name="{{pessoa.pes_cpf.name}}">
                                            </div>

                                             <div class="col-sm-2">
                                                <label>RG (Completo)</label>
                                                <input class="form-control" name="{{pessoa.pes_rg.name}}">
                                            </div>
                                            <div class="col-sm-3">
                                                <label>Emissor</label>
                                                <input class="form-control" name="{{pessoa.pes_emissor.name}}">
                                            </div>
                                        </div>
                                      <div class="form-group row">


                                            <div class="col-sm-3">
                                                <label>Data de nascimento</label>
                                                <input class="form-control" type="date" name="{{pessoa.pes_nascimento.name}}">
                                            </div>

                                            <div class="col-sm-3">
                                                <label>Telefone 1</label>
                                                <input class="form-control" name="{{pessoa.pes_telefone1.name}}">
                                            </div>
                                            <div class="col-sm-3">
                                                <label>Telefone 2</label>
                                                <input class="form-control" >
                                            </div>
                                            <div class="col-sm-3">
                                                <label>Inscrição Estadual (completo)</label>
                                                <input class="form-control" name="{{pessoa.pes_inscricao_estadual.name}}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-3">
                                                <label>Celular</label>
                                                <input class="form-control" name="{{pessoa.pes_celular.name}}">
                                            </div>
                                            <div class="col-sm-3">
                                                <label>CEP</label>
                                                <input class="form-control" name="{{pessoa.pes_cep.name}}">
                                            </div>
                                            <div class="col-sm-3">
                                                <label>Cidade</label>
                                                <input class="form-control" name="{{pessoa.pes_cidade.name}}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-3">
                                                <label>Endereço</label>
                                                <input class="form-control" name="{{pessoa.pes_endereco.name}}">
                                            </div>
                                            <div class="col-sm-3">
                                                <label>Bairro</label>
                                                <input class="form-control" name="{{pessoa.pes_bairro.name}}">
                                            </div>
                                            <div class="col-sm-3">
                                                <label>Complemento</label>
                                                <input class="form-control" name="{{pessoa.pes_complemento.name}}">
                                            </div>
                                        </div>
                                      <div class="form-group row">
                                            <div class="col-sm-4">
                                                <label>Email</label>
                                               <div class="input-group" >

                                                <input class="form-control mr-3" id="email-usuario" name="{{usuario.email.name}}" type="email">

                                                 <button id="button-email" data-url="{% url 'home:email_validade' %}" type="button" class="btn btn-success btn-sm">Enviar codigo</button>

                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <label>Codigo de validação</label>
                                                <input class="form-control">
                                            </div>

                                        </div>

                                       <div class="form-group row">
                                            <div class="col-sm-3">
                                                <label>Senha</label>
                                                <input class="form-control" name="{{usuario.password.name}}">
                                            </div>
                                            <div class="col-sm-3">
                                                <label>Confirmação de senha</label>
                                                <input class="form-control" name="{{usuario.password_repeat.name}}">
                                            </div>

                                           <div class="col-sm-3">
                                                <label>Sugestão de senha</label>
                                                <input class="form-control">
                                            </div>

                                        </div>

                                      <h3>DADOS DA EMPRESA</h3>

                                      <div class="form-group d-flex justify-content-between">
                                          <div class="col-sm-5">
                                                <label>Razão social</label>
                                                <input class="form-control w-75">
                                            </div>
                                          <div class="col-sm-5">
                                                <label>Nome fantasia</label>
                                                <input class="form-control w-75">
                                            </div>
                                      </div>

                                       <div class="form-group row">

                                      <div class="col-sm-3">
                                                <label>CPF</label>
                                                <input class="form-control">
                                            </div>

                                      <div class="col-sm-3">
                                                <label>Telefone 1</label>
                                                <input class="form-control">
                                            </div>
                                            <div class="col-sm-3">
                                                <label>Telefone 2</label>
                                                <input class="form-control">
                                            </div>
                                            <div class="col-sm-3">
                                                <label>Inscrição Estadual (completo)</label>
                                                <input class="form-control">
                                            </div>
                                       </div>

                                        <div class="form-group row">
                                            <div class="col-sm-3">
                                                <label>Celular</label>
                                                <input class="form-control">
                                            </div>
                                            <div class="col-sm-3">
                                                <label>CEP</label>
                                                <input class="form-control">
                                            </div>
                                            <div class="col-sm-3">
                                                <label>Cidade</label>
                                                <input class="form-control">
                                            </div>
                                        </div>

                                      <div class="form-group row">
                                            <div class="col-sm-3">
                                                <label>Endereço</label>
                                                <input class="form-control">
                                            </div>
                                            <div class="col-sm-3">
                                                <label>Bairro</label>
                                                <input class="form-control">
                                            </div>
                                            <div class="col-sm-3">
                                                <label>Complemento</label>
                                                <input class="form-control">
                                            </div>
                                        </div>

                                      <div class="form-group row">
                                           <div class="col-sm-3">
                                                <label>Responsável financeiro</label>
                                                <input class="form-control">
                                            </div>
                                           <div class="col-sm-3">
                                                <label>Email Resp. financeiro</label>
                                                <input class="form-control">
                                            </div>
                                      </div>

                                      <div class="form-group row">
                                           <div class="col-sm-6 d-flex">
                                                <div class="d-block">
                                                    <label>Email</label>
                                               <input class="form-control">
                                                </div>

                                                <div class="d-flex">
                                                                                                     <button type="button" class="btn btn-success btn-sm">Enviar codigo</button>

                                                </div>


                                            </div>


                                          <div class="col-sm-3">
                                                <label>Código de validação</label>
                                                <input class="form-control">
                                            </div>

                                           <div class="col-sm-3">
                                                <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
                                            <label class="form-check-label" for="flexRadioDefault4">
                                            Escolha se é ME/EPP/MEI
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input " type="radio" name="flexRadioDefault" id="flexRadioDefault5" checked>
                                            <label class="form-check-label" for="flexRadioDefault5">
                                            Não
                                            </label>
                                        </div>
                                                <div class="form-check">
                                            <input class="form-check-input " type="radio" name="flexRadioDefault" id="flexRadioDefault6" checked>
                                            <label class="form-check-label" for="flexRadioDefault6">
                                            Sim
                                            </label>
                                        </div>
                                            </div>

                                      </div>

                                      <div class="form-group ">
                                          <div class="form-check">
                                            <input class="form-check-input " type="radio" name="flexRadioDefault" id="flexRadioDefault6" checked>
                                            <label class="form-check-label" for="flexRadioDefault6">
                                            Escolha uma opção
                                            </label>
                                        </div>
                                          <div class="form-check">
                                            <input class="form-check-input " type="radio" name="flexRadioDefault" id="flexRadioDefault6" checked>
                                            <label class="form-check-label" for="flexRadioDefault6">
                                            Contatado pela BLLCOMPRAS
                                            </label>
                                        </div>
                                          <div class="form-check">
                                            <input class="form-check-input " type="radio" name="flexRadioDefault" id="flexRadioDefault6" checked>
                                            <label class="form-check-label" for="flexRadioDefault6">
                                            Órgão Público (Prefeitura, Secretaria, Câmara, dentre outros)
                                            </label>
                                        </div>
                                          <div class="form-check">
                                            <input class="form-check-input " type="radio" name="flexRadioDefault" id="flexRadioDefault6" checked>
                                            <label class="form-check-label" for="flexRadioDefault6">
                                            Eventos (Curso, Mentoria, Workshop)
                                            </label>
                                        </div>
                                          <div class="form-check">
                                            <input class="form-check-input " type="radio" name="flexRadioDefault" id="flexRadioDefault6" checked>
                                            <label class="form-check-label" for="flexRadioDefault6">
                                            Redes Sociais (Facebook, Instagram, LinkedIn)
                                            </label>
                                        </div>
                                          <div class="form-check">
                                            <input class="form-check-input " type="radio" name="flexRadioDefault" id="flexRadioDefault6" checked>
                                            <label class="form-check-label" for="flexRadioDefault6">
                                            Site BLLCOMPRAS
                                            </label>
                                        </div>
                                          <div class="form-check">
                                            <input class="form-check-input " type="radio" name="flexRadioDefault" id="flexRadioDefault6" checked>
                                            <label class="form-check-label" for="flexRadioDefault6">
                                            Google
                                            </label>
                                        </div>
                                          <div class="form-check">
                                            <input class="form-check-input " type="radio" name="flexRadioDefault" id="flexRadioDefault6" checked>
                                            <label class="form-check-label" for="flexRadioDefault6">
                                            Outro cana
                                            </label>
                                        </div>
                                      </div>

                                      <div class="form-group">
                                          <button class="btn btn-success">Cadastrar-se</button>
                                      </div>

                                  </form>


                            </div>

                    </div>
                </div>

            </div>


 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
 function soma(valor) {
            var contador = $("#Contador").val().length + 1;
            if (contador <= 6) {
                $("#Contador").val($("#Contador").val() + 0)
                $("#Password").val($("#Password").val() + valor)
                var value = (100 / 6) * contador;
                $("#progressBar").css("width", value + "%");
            }
        }
        function CleanLoginFields() {
            $("#Contador").val("");
            $("#Password").val("");
            $("#progressBar").css("width", "0%");
        }
</script>
<script src="{% static 'js/email_validate.js' %}"></script>
{%endblock%}